body {
  background: rgb(0,0,0);
background: linear-gradient(42deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(25,1,39,1) 47%, rgba(40,2,62,1) 65%, rgba(81,5,123,1) 100%, rgba(123,8,186,1) 100%, rgba(139,29,200,1) 100%);
  background-repeat: no-repeat;
}

.home_cntnr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
}

.home_text {
  margin-top: 10%;
  text-align: center;
}

.home_text h1 {
  font-size: 50px;
}

.diamond_img {
  margin-top: -30px;
  width: 400px;
  height: auto;
}

.header_btn_div {
  margin-top: -50px;
}

.home_btn {
  border: rgb(255, 255, 255) solid 1px;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 10px;
  cursor: pointer;
  font-weight: 600;
}

.home_btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  transition: 0.2s ease-in-out;
}

/* for sliders */

.card_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 0;
  font-family: "Poppins", sans-serif;
}

.card_heading h2 {
  font-size: 45px;
  color: white;
}

.card_heading p {
  color: rgb(195, 195, 195);
  font-size: 17px;
  margin-top: -25px;
}

.slider {
  margin: 0 20px;
  overflow: hidden;
  padding: 2rem 0;
}

.slider img {
  width: 100%;
  height: auto; /* Adjust height as needed */
  border-radius: 10px;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

/* Optional: Adjustments for smaller screens */
@media screen and (max-width: 600px) {
  .card_heading h2 {
    font-size: 30px;
  }
  .card_heading p {
    font-size: 14px;
  }
  .slider {
    padding: 1rem 0;
  }
}

/* Middle section */

.middle_cntnr {
  margin-top: 5%;
}

.middle_body {
  padding: 0 10%;
  display: flex;
}

.middle_body1 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 60%;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.middle_body2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
}

.middle_body1 h2 {
  font-weight: 600;
  font-size: 50px;
  border-left: solid 3px rgb(255, 30, 30);
  padding-left: 20px;
}

.middle_body1 h2 span {
  color: rgb(255, 54, 54);
}

/* vedio */

.middle_body3 {
  margin: 5% 10% 5% 10%;
}

.myVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 40px;
}

/* middle body 4 ai */

.middle_body4 {
  justify-content: start;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
  padding: 5% 10%;
}

.middle_body4 h1 {
  font-weight: 600;
  font-size: 40px;
  border-left: solid 3px rgb(255, 30, 30);
  padding: 0 20px;
}

/* card section */
.card_sec {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  gap: 20px; /* Add space between the cards */
}

.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.card a {
  text-decoration: none;
}

.content {
  padding: 1.1rem 1.1rem 0rem 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  font-weight: 600;
}

.desc {
  margin-top: 7rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #1f1f1f;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

.blog_img {
  width: 100%;
  height: 180%;
  border-radius: 10px;
}

/* middle body 5,6 */

.middle_body5 {
  display: flex;
  flex-direction: column;
  text-align: end;
  height: auto;
  width: 60%;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.middle_body6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
}

.middle_body5 h2 {
  font-weight: 600;
  font-size: 50px;
  border-right: solid 3px rgb(255, 30, 30);
  padding-right: 20px;
}

.middle_body5 h2 span {
  color: rgb(255, 54, 54);
}

.middle_body7 {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  color: white;
  padding: 0% 10%;
}

.middle_body7 h1 {
  font-weight: 600;
  font-size: 40px;
  border-left: solid 3px rgb(255, 30, 30);
  padding: 0 20px;
} 

.pricing_sec {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pricing_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(0px); 
  padding: 20px 80px; 
}

.pricing_box img {
  width: 200px;
  height: 200px;
}

.pricing_box h3 {
  font-weight: 200;
  font-size: 40px;
}

.pricing_box p {
  font-weight: 100;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
}

.pricing_box .list {
  text-align: start;
  margin-left: 10%;
}

.pricing_box .amount {
  font-weight: 100; 
  font-size: 40px;
  margin-top: 0px;
}

.pricing_box .amount sup,
.pricing_box .amount sub {
  font-size: 15px;
}

.pricing_box button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  margin-bottom: 15px;
}

.pricing_box button:hover{
  background-color: #707070;
  color: #fff;
}

.checkmark {
  color: rgb(0, 255, 0);
}

/* Responsive Styles */
@media (max-width: 1330px) {
  .pricing_sec {
    flex-direction: column;
    align-items: center;
  }

  .pricing_box {
    width: 80%;
    padding: 20px 40px;
  }
}

@media (max-width: 768px) {
  .middle_body7 h1 {
    font-size: 30px;
  }

  .pricing_box {
    width: 90%;
    padding: 20px 20px;
  }

  .pricing_box h3 {
    font-size: 30px;
  }

  .pricing_box .amount {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .middle_body7 {
    padding: 0% 5%;
  }

  .pricing_box {
    width: 100%;
    padding: 10px 10px;
  }

  .pricing_box h3 {
    font-size: 24px;
  }

  .pricing_box .amount {
    font-size: 24px;
  }

  .pricing_box button {
    font-size: 14px;
    height: 40px;
  }
}


/* Footer styles */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 5%;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  backdrop-filter: blur(4px); /* Adjust the blur amount as needed */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}


.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer_section {
  flex: 1;
  min-width: 200px;
  padding: 20px;
}

.footer_section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer_section p, .footer_section ul, .footer_section a {
  color: #ccc;
  text-decoration: none;
}

.footer_section ul {
  list-style: none;
  padding: 0;
}

.footer_section ul li {
  margin-bottom: 10px;
  
}

.footer_section a:hover {
  color: #fff;
}



.social a{
  font-size: 29px;
  margin-right: 10px;
}

.footer_section .social a:hover {
  color: #fff;
}

.footer_bottom {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 11px;
  color: darkgray;
}
